# 🐍 Python
*.pyc
*~
__pycache__/
.coverage
htmlcov/


# 🔐 Virtuálne prostredia
.env
.django_env
venv/
myvenv/
ruvenv/

# 🗃️ Databáza
db.sqlite3

# 📦 Výstupné statické súbory (collectstatic)
staticfiles/

# ✅ Sleduj vlastné statické súbory
!static/
media/
*.txt

# 🍏 macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# 🪟 Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# 🧠 Visual Studio Code
.vscode/
.history/
*.code-workspace
!requirements-dev.txt

