* {
    /*border: 1px solid black;*/
    box-sizing: border-box;
}


body {
    margin: 0;
    color: rgb(23, 11, 148);
    padding: 4%;
    font-size: 16px;
    background: linear-gradient(180deg, rgb(158, 155, 131)0%, rgb(184, 210, 219)100%);
    min-height: 100vh;
    min-width: 960px;
    display: flex;
    flex-direction: column;
}

main {
    border: 1px solid black;
    padding: 120px 0px 0px 0px;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(210, 238, 50);
    /* Alebo iná farba podľa dizajnu stránky */
    z-index: 1;
    /* Aby bola nad ostatnými prvkami */
    padding: 10px;
    display:flex;
    box-shadow: inset -5px 5px 7px 8px rgba(0, 0, 0, 0.1);
    /* Voliteľné: pridanie tieňa */
}

.fixed-header .zivo-meno,
.fixed-header .img-container {
    display: inline-block;
    vertical-align: middle;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* Medzera medzi prvkami */
}
.box {
    height: auto;
    width: 50%;
    float: left;
}

/*.mne, .skus:hover {
    border: 2px solid #fff;
}*/

.box-jaz {
    height: auto;
    /*display: flex;*/
    width: 50%;
    display: inline-block;
}

.black-box {
    background-color: black;
    color: white;
    display: inline-block;
    margin: 5px;
    padding: 4px 4px 1px 4px;
}

.small-square {
    width: 10px;
    /* Prispôsobte veľkosť štvorca podľa potreby */
    height: 10px;
    /* Prispôsobte veľkosť štvorca podľa potreby */
    background-color: black;
    margin-right: 5px;
    /* Voliteľné nastavenie odstupu medzi štvorcami */
    margin-bottom: 10px;
    /* Voliteľné nastavenie odstupu medzi riadkami */
    display: inline-block;
}

.zivo-meno {
    color: #fff;
    background-color: #16148a;
    max-width: 30%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 15px;
    /*justify-content: center;*/
    /* Zarovnanie obsahu na horizontálny stred */
    align-items: center;
    /* Zarovnanie obsahu na vertikálny stred */
    position: relative;
    left: 14%;

}

.zivo-meno p {
    margin: 0;
    font-size: 1.7em;
    text-align: center;
    /* Zarovnanie textu na stred */
    /*text-transform: uppercase;*/
}

.zivo-pro {
    color: #fff;
    background-color: #07061f;
    font-size: 0.8em;
    width: auto;
    padding: 2%;
    position: relative;
    top: 23px;
}

.img-container {
    width: 125px;
    /* Šírka rámčeka */
    height: 125px;
    /* Výška rámčeka */
    border: 2px solid #ccc;
    /* Hrúbka a farba rámčeka */
    border-radius: 50%;
    /* Zaoblenie rohov rámčeka */
    overflow: hidden;
    /* Skrytie časti obrázka, ktorá by mohla vyčnievať */
    box-shadow: 11px 0 4px rgb(121 107 107 / 86%);
    /* Tieň okolo rámčeka */
    position: relative;
    left: 20%;
}

.img-container img {
    width: 100%;
    /* Zabezpečenie, aby obrázok zapĺňal celý rámček */
    height: 100%;
    /* Zabezpečenie, aby obrázok zapĺňal celý rámček */
    object-fit: cover;
    /* Zabezpečenie zachovania pomeru strán obrázka */
}
