.page-header {
    background-color: #1b18cabe;
    margin: 0px 0px 40px 0px;
    padding: 20px 20px;   
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #dee9af;
    font-size: 40pt;
    text-decoration: none;
    /*margin: 0px;*/
    padding: 5px;
}

h1,
h2,
h3,
h4 {
    color: #81d423;
    font-family: 'Roboto Mono';
    font-stretch: 50%;
}

article {
    border: 3px solid rgb(170, 59, 59);
    background-color: rgb(233, 233, 158, 0.9);
    padding: 20px;
}

body {
    margin: 20px;
    color: rgb(8, 4, 54);
    background-image: url("/static/css/IMG_20230611_114206.jpg");
        background-size: cover;
        background-position: center;
    /*background: rgb(86, 189, 66);*/
    text-align: start;
}

.date {
    color: #076c97;
    font-size: 15pt;
    text-decoration: none;
    float: right;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 80%;
}

.top-menu,
.top-menu:visited {
    color: #ada237;
    float: right;
    font-size: 15pt;
    text-decoration: none;
}

.top-menu:hover {
    color: #0b9712;
}
.top-menu .icon-envelope:hover {
    color: #2be9b0d5
    /* Príslušný hover štýl pre ikonku obálky */
}

.top-menu-links {
    display: inline-block;
    margin-right: 20px;
    color: #ada237;
    float: none;
    font-size: 15pt;
    text-decoration: none;
}

.center-text {
    text-align: center;
}

.post {
    color: #260544d5;
    margin: 20px 20px 40px 20px;
}

.post h2 a,
.post h2 a:visited {
    color: #7c064f;
    text-decoration: none;
}

.post>.date,
.post>.actions {
    float: top;
    color: #2a1281;
}

.btn-secondary,
.btn-secondary:visited {
    color: #dedee9;
    background: #033166;
    border-color: #db590e;
    float: right;
}

.btn-secondary:hover {
    color: #1d0c5e;
    background-color: #0a8d50;
}

.comment {
    margin: 20px 0px 20px 20px;
    color: #1f1888;
}

