{% load static %}
<!doctype html>
<html lang="sk">

<head>
    <meta charset="utf-8">
    <title>Ružbacký životopis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'css/favicon-logo.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/zivo.css' %}">
    <script src="{% static 'js/header_zivo.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <div class="fixed-header">
        <div class="zivo-meno">
            <p><strong>Rastislav Ružbacký</strong></p>
            <div class="zivo-pro">
                <p><strong>IT</strong>self-student</p>
            </div>
            <div class="text-end" style="margin-right: 20px; margin-top: 10px;">
                <a href="{% url 'zivo_view' %}" class="btn btn-sm" style="background-color: #ffffff; color: #4b0082; border: none;">
                    SK
                </a>                   |
            </div>
        </div>
        <div class="img-container">
            <a href="/">
                <img src="{% static 'images/ja.jpg' %}" alt="Moja foto" width="100" height="100">
            </a>
        </div>
    </div>
    <main class="container my-4">
        <!-- Informácie (Bratislava, kontakt...) -->
        <section class="container text-center my-3">
            <div class="row row-cols-1 row-cols-md-2 g-3">
                {% for icon, text in icons_data %}
                <div class="col">
                    <span class="d-inline-flex justify-content-center align-items-center">
                        <img src="{% static 'icons/' %}{{ icon }}" alt="{{ text }}" class="me-2" width="24">
                        <strong class="ms-2">{{ text }}</strong>
                    </span>
                </div>
                {% endfor %}
            </div>
        </section>

        <!-- Sekcia O MNE -->
        <section class="my-5 bg-light p-4 rounded">
            <h2 class="text-center mb-4">
                <i class="fas fa-user-circle" style="color: #3b5998; font-size: 2em; margin-right: 10px;"></i>
                <strong>ABOUT ME</strong>
            </h2>
            <div class="container">
                <p class="text-justify">
                <h2>My Journey Toward Technology</h2>
                <p>
                    I have always been drawn to precision and systematic thinking — qualities that naturally led me to explore the world of
                    IT. After years of experience as a cytogeneticist in healthcare, I decided to apply this attention to detail to the field of
                    technology. Although my path hasn’t yet taken me into an IT company, I’m driven by a desire to learn and grow — currently preparing
                    for a software testing course.
                </p>
                <p>
                    As a self-learner, I began exploring programming, focusing on the Python language. With the help of the Django Girls
                    tutorial, I created this site as my personal résumé — gaining initial experience in developing web applications using
                    the Django framework and deepening my understanding of HTML and CSS.
                </p>
                <p>
                    Throughout development, I used Visual Studio Code, mastered managing Python virtual environments, and actively worked
                    with Git and GitHub for version control — gaining experience in structured and well-documented development.
                    Later, I expanded into C# and the .NET framework. After completing a dedicated course, I developed a solid understanding
                    of application development within this ecosystem.
                    Visual Studio became my primary tool for development, helping me streamline my work and further enhance my projects.
                </p>
                <p>
                    Alongside this, I spent time abroad accompanying my wife on her diplomatic mission in Brussels. I made the most of this
                    unique life chapter — completing a brewing course at KU Leuven, expanding my technical skills, and building new
                    professional connections.
                    I’m currently working on improving my website rastislavruzbacky.eu.pythonanywhere.com and preparing to continue my IT
                    journey — aiming to find opportunities as a software tester or junior developer.   
                </p>
                </p>
            </div>
        </section>
        <!-- Pracovné skúsenosti -->
        <section>
            <h2 class="text-center mb-4">
                <i class="fa-solid fa-user-tie" style="color: #3b5998; font-size: 2em; margin-right: 10px;"></i>
                <strong>WORK EXPERIENCE</strong>
            </h2>
            <div class="container">
                <div class="row">
                    <!-- Prvá pozícia -->
                    <div class="col-md-6 col-sm-12 mb-4">
                        <h3 class="text-center">Independent Professional Experience | International Engagement</h3>
                        <p>
                            <small>
                                <img src="{% static 'icons/house-door-fill.svg' %}" alt="Etterbeek icon" width="24">
                                Brusel (Belgicko)
                            </small>
                        </p>
                        <p><strong>01/01/2014 – 31/07/2025</strong></p>
                        <ul class="list-unstyled">
                            <li>Development of analytical and technical skills in a multicultural environment during a long-term stay abroad</li>
                            <li>Active travel and exploration of new cultures and technological trends</li>
                            <li>Completion of a Beer Sensory Evaluation course</li>
                            <li>Study of brewing technology at KU Leuven — with emphasis on professional malting and brewing processes</li>
                            <li>Independent programming studies, online courses, and personal projects (e.g. building a website using Python)</li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-12 mb-4">
                        <h3 class="text-center">Cytogeneticist | National Oncology Institute</h3>
                        <p>
                            <small>
                                <img src="{% static 'icons/house-door-fill.svg' %}" alt="Bratislava icon" width="24">
                                Bratislava, Slovakia
                            </small>
                        </p>
                        <p><strong>01/06/2006 - 31/12/2013</strong></p>
                        <ul class="list-unstyled">
                            <li>Cytogenetic diagnostics of tumor diseases, PCR, FISH, CGH, visual analysis of chromosomes</li>
                        </ul>
                    </div>
                    <!-- Druhá pozícia -->
                    <div class="col-md-6 col-sm-12 mb-4">
                        <h3 class="text-center">Cytogeneticist | Hospital with Polyclinic</h3>
                        <p>
                            <small>
                                <img src="{% static 'icons/house-door-fill.svg' %}" alt="Spišská Nová Ves icon"
                                    width="24">
                                Spišská Nová Ves, Slovakia
                            </small>
                        </p>
                        <p><strong>01/11/2003 - 31/05/2006</strong></p>
                        <ul class="list-unstyled">
                            <li>Preparation and processing of short-term tissue cultures (72 hours), peripheral blood, and long-term cultivation
                                of amniocytes</li>
                            <li>Prenatal evaluation from amniotic fluid and standard constitutional karyotyping from peripheral blood</li>
                            <li>Application of genotoxic substances to cell cultures</li>
                            <li>Preparation of microscope slides, cytogenetic staining techniques (G-, C-banding), microscopy, and automated
                                karyotyping using LUCIA software, including precise karyotype construction and interpretation</li>
                            <li>Evaluation of cytogenetic sections using direct microscopy, differential chromosome staining, visual analysis,
                                and cytogenetic diagnostic interpretation</li>
                            <li>Methodical and professional oversight of laboratory operations</li>                       
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-12 mb-4">
                        <h3 class="text-center">Civil Service as Biologist-Geneticist | Hospital with Polyclinic
                        </h3>
                        <p>
                            <small>
                                <img src="{% static 'icons/house-door-fill.svg' %}" alt="Spišská Nová Ves icon"
                                    width="24">
                                Spišská Nová Ves, Slovakia
                            </small>
                        </p>
                        <p><strong>15/02/2002 - 31/03/2003</strong></p>
                        <ul class="list-unstyled">
                            <li>Biologist at the Department of Clinical Genetics in the cytogenetics laboratory</li>
                            <li>Hands-on experience with all standard cytogenetic methods: establishing and processing cell cultures from peripheral
                            blood, bone marrow aspirates, and amniotic fluid after amniocentesis</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <br>
        <section>
            <p>
                <i class="fa-solid fa-user-graduate" style="color: #3b5998; font-size: 2em;"></i>
                <strong>EDUCATION</strong>
            </p>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <p>06/09/1995-31/05/2000</p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <p>Master of Science | Biology / Anthropology</p>
                        <p>
                            <small>
                                <img src="{% static 'icons/house-door-fill.svg' %}"
                                    alt="Pavol Jozef Šafárik University icon" width="24">
                                    Pavol Jozef Šafárik University in Košice
                            </small>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <p>01/10/2000 - 14/02/2002 a 01/04/2003 - 31/10/2003</p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <p>RNDr. | Full-time postgraduate studies in Anthropology |
                        Rigorous thesis in Biology:
                        Detection of STR loci in the Roma population of Eastern Slovakia and PCR method.
                        </p>
                        <p>
                            <small>
                                <img src="{% static 'icons/house-door-fill.svg' %}" alt="University of Prešov icon"
                                    width="24">
                                    University of Prešov, Faculty of Humanities and Natural Sciences
                                    </small>                        
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <br>
        <section>
            <p>
                <i class="fa-solid fa-book-open" style="color: rgb(129, 156, 8); font-size: 2em;"></i>
                <strong>COURSES & TRAINING</strong>
            </p>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 box">
                        <p>01/11/2003- 29/04/2004</p>
                    </div>
                    <div class="col-md-6 col-sm-12 box">
                        <p>
                            Certificate for work in healthcare – specialization in medical genetics for healthcare professionals
                        </p>
                            <small>
                                <img src="{% static 'icons/house-door-fill.svg' %}"
                                    alt="Slovak Medical University icon" width="24">
                                    Slovak Medical University in Bratislava
                            </small>
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-12 box">
                        <p>20/10/2004</p>
                    </div>
                    <div class="col-md-6 col-sm-12 box">
                        <p>
                            Enrollment in a specialization program in diagnostic methods in medical genetics
                        </p>
                        <p>
                            <small>
                                <img src="{% static 'icons/house-door-fill.svg' %}"
                                    alt="Slovak Medical University icon" width="24">
                                    Slovak Medical University in Bratislava
                            </small>
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-12 box">
                        <p>28/02/2005</p>
                    </div>
                    <div class="col-md-6 col-sm-12 box">
                        <p>Registration with the Chamber of Other Healthcare Professionals</p>
                        <p>
                            <small>
                                <img src="{% static 'icons/house-door-fill.svg' %}"
                                    alt="Slovak Medical University icon" width="24">
                                    Slovak Medical University in Bratislava
                            </small>
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-12 box">
                        <p>14/06/2007</p>
                    </div>
                    <div class="col-md-6 col-sm-12 box">
                        <p>Diploma in Specialization: Laboratory and Diagnostic Methods in Clinical Genetics
                        </p>
                        <p>
                            <small>
                                <img src="{% static 'icons/house-door-fill.svg' %}"
                                    alt="Slovak Medical University icon" width="24">
                                    Slovak Medical University in Bratislava
                            </small>
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-12 box">
                        <p>08-09/2017</p>
                    </div>
                    <div class="col-md-6 col-sm-12 box">
                        <p>
                            Brewing Course (specialized training at KU Leuven for professionals in brewing and malting technologies)
                        </p>
                        <p>
                            <small>
                                <img src="{% static 'icons/house-door-fill.svg' %}" alt="Leuven University icon"
                                    width="24">
                                Leuven University
                            </small>
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-12 box">
                        <p>2024</p>
                    </div>
                    <div class="col-md-6 col-sm-12 box">
                        <p>
                            Intro to Python – Certificate of Completion (itnetwork.cz)
                        </p>
                        <p>
                            <small>
                                <img src="{% static 'icons/house-door-fill.svg' %}" alt="IT Network icon" width="24">
                                <a href="https://www.itnetwork.cz/" target="_blank">www.itnetwork.cz</a>
                            </small>
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-12 box">
                        <p>2024</p>
                    </div>
                    <div class="col-md-6 col-sm-12 box">
                        <p>
                            Development of a personal website using the Django framework, hosted on the PythonAnywhere platform as part of the
                            Django Girls workshop. The project included design, implementation, deployment, and an admin interface with content
                            editing capabilities.
                        </p>
                        <p>
                            <small>
                                <img src="{% static 'icons/house-door-fill.svg' %}" alt="Website icon" width="24">
                                Website available at:
                                <a href="https://rastislavruzbacky.eu.pythonanywhere.com" target="_blank">
                                    rastislavruzbacky.eu.pythonanywhere.com
                                </a>
                            </small>
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-12 box">
                        <p>2025</p>
                    </div>
                    <div class="col-md-6 col-sm-12 box">
                        <p>Development of a web application using the .NET framework, implementation of backend logic, and deployment to
                        production.
                        </p>
                        <p>
                            <small>
                                <img src="{% static 'icons/house-door-fill.svg' %}" alt="Website icon" width="24">
                                Website available at:
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <br>
        <section>
            <p>
                <i class="fas fa-comments" style="color: rgb(34, 172, 193); font-size: 2em;"></i>
                <strong>LANGUAGE SKILLS</strong>
            </p>
            <div class="container">
                <div class="box-jaz">
                    <p>English</p>
                    <div class="small-square"></div>
                    <div class="small-square"></div>
                    <div class="small-square"></div>
                    <div class="small-square"></div>
                    <div class="small-square"></div>
                </div>
                <div class="box-jaz">
                    <p>German</p>
                    <div class="small-square"></div>
                    <div class="small-square"></div>
                    <div class="small-square"></div>
                </div>
                <div class="box-jaz">
                    <p>French</p>
                    <div class="small-square"></div>
                    <div class="small-square"></div>
                    <div class="small-square"></div>
                </div>
            </div>
        </section>
        <br>
        <section>
            <p>
                <i class="fa-solid fa-palette" style="color: #3b5998; font-size: 2em;"></i>
                <strong>INTERESTS & HOBBIES</strong>
            </p>
            <div class="container">
                <div class="black-box">
                    <p>Traveling</p>
                </div>
                <div class="black-box">
                    <p>Programming</p>
                </div>
                <div class="black-box">
                    <p>Homebrewing</p>
                </div>
                <div class="black-box">
                    <p>Hiking</p>
                </div>
                <div class="black-box">
                    <p>Astronomy</p>
                </div>
                <div class="black-box">
                    <p>Cycling</p>
                </div>
            </div>
        </section>
        <div class="button-container">
            <a class="btn btn-primary" href="/" data-toggle="tooltip" data-placement="right" title="Domov">Home</a>
        </div>
    </main>
</body>
<footer>
    <div class="container text-center py-3">
        <div class="row">
            <div class="col-12">
                <a href="/">&copy; <span id="year"></span> Rastislav Ružbacký</a>
            </div>
            <div class="col-12">
                <a href="mailto:vas.email@example.com">ruzbacky@yahoo.com</a>
                <span class="mx-2">|</span>
                <a href="tel:+421900123456">+421 948 900 850</a>
            </div>
            <div class="col-12">
                <a class="social-link" href="https://www.facebook.com/profile.php?id=100009882270245" target="_blank">
                    <img src="{% static 'css/facebook.png' %}" alt="Facebook" width="24" height="24">
                </a>
                <a class="social-link mx-2" href="https://www.instagram.com/rastorubin/" target="_blank">
                    <img src="{% static 'css/instagram_icon.png' %}" alt="Instagram" width="24" height="24">
                </a>
                <a class="social-link" href="https://www.linkedin.com/in/rastislav-ruzbacky-99a8a645/" target="_blank">
                    <img src="{% static 'css/linkedin.png' %}" alt="LinkedIn" width="24" height="24">
                </a>
                <a href="https://www.linkedin.com/in/rastislav-ruzbacky-99a8a645/" class="btn btn-primary"
                    target="_blank">
                    Connect in LinkedIn
                </a>
            </div>
        </div>
    </div>
</footer>

</html>