{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Životopis</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/zivotopis.css' %}">
        <link href="//fonts.googleapis.com/css?family=Roboto Mono&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header class="page-header">
            <div class="container">
                {% if user.is_authenticated %}
                    <a href="{% url 'post_new' %}" class="top-menu" data-toggle="tooltip" data-placement="left" title="New item in CV">
                        <svg class="bi text-info">
                            {% include './icons/plus-square.svg' %}
                        </svg>
                    </a>
                {% endif %}
                <h1><a href="/">Životopis</a></h1>
            </div>
        </header>
        <main class="container">
            <div class="row">
                <div class="col">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </main>
    </body>
</html>


