{% extends 'zivotopis/base.html' %}
{% load static %}

{% block content %}
<div class="gallery">
    <h2>Lichtenštajnsko apríl 2024</h2>
    <div class="slides">
        <img src="{% static 'images/Lichtenstein.jpg' %}" alt="Photo 1">
        <img src="{% static 'images/Balzers-kam.jpg' %}" alt="Photo 2">
        <img src="{% static 'images/Licht-jazero.jpg' %}" alt="Photo 3">
        <img src="{% static 'images/Do-udolia.jpg' %}" alt="Photo 4">
        <img src="{% static 'images/Vinica-pod-hradom.jpg' %}" alt="Photo 5">
        <!-- Ďalšie fotky -->
    </div>
    <button class="prev">&#10094;</button>
    <button class="next">&#10095;</button>
</div>
{% endblock %}