{% load wagtailimages_tags %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ self.title }}</title>
    <link rel="stylesheet" href="{% static 'css/wagtail.css' %}">
</head>
<body>
    <div class="container">
        <h1>{{ self.title }}</h1>
        <p>{{ self.introduction }}</p>
        {% if self.intro_image %}
            <img src="{{ self.intro_image.file.url }}" alt="{{ self.intro_image.file.title }}" width="100" height="100">
        {% endif %}
        <p>{{ self.name_picture }}</p>
    </div>
</body>
</html>
