{% extends 'zivotopis/base.html' %}

{% block content %}
    {% for post in posts %}
        <article class="post">
            <time class="date">
                {{ post.published_date }}
            </time>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
            <div class="gallery">
                {% for image in post.images.all %}
                    <img src="{{ image.image.url }}" alt="{{ image.image.name }}">
                {% endfor %}
            </div>
        </article>
    {% endfor %}
{% endblock %}

