{% extends 'zivotopis/base.html' %}

{% block content %}
    {% for post in posts %}
        <article class="post">
        <time class="date">{{ post.published_date }}</time>
        <h2>
            {% if post.category == 'bio' %} 🧬 
            {% elif post.category == 'trip' %} 🏔️ 
            {% elif post.category == 'tech' %} 💻 
            {% endif %}
            <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
        </h2>
        <p>{{ post.text|truncatechars:150 }}</p>

        <!-- Obrázky -->
        <div class="post-images">
            {% for image in post.post_images.all %}
                <div class="post-image">
                    <img src="{{ image.image.url }}" alt="{{ post.title }}">
                </div>
            {% endfor %}
        </div>

        <a href="{% url 'post_detail' pk=post.pk %}">Detail</a>
        </article>
    {% endfor %}
{% endblock %}

