{% extends 'zivotopis/base.html' %}

{% load static %}
{% block content %}
    <button id="myButton">Kliknutím sa zmení pozadie tlačidla na náhodnú farbu</button>
    <p id="myText"></p>
    <article class="post">
        <aside class="actions">
            {% if user.is_authenticated %}
                <a class="btn btn-secondary" href="{% url 'post_edit' pk=post.pk %}">
                    {% include './icons/pencil-fill.svg' %}</a>
                <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Post delete" href="{% url 'post_remove' pk=post.pk %}">
                {% include './icons/trash-fill.svg' %}</a>
            {% endif %}
        </aside>
        {% if post.published_date %}
            <time class="date">
                {{ post.published_date }}
            </time>
        {% else %}
            <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Post publish" href="{% url 'post_publish' pk=post.pk %}">
            {% include './icons/plus-circle.svg' %}</a>
        {% endif %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
        <div class="gallery post-images">
        {% if post.image %}
            <img class="post-image" src="{{ post.image.url }}" alt="{{ post.title }}">
        {% endif %}
        </div>
    </article>
    <div class="gallery">
        <img src="{% static 'css/Zima_na_Kamziku (1).jpg' %}" alt="Zima_na_Kamziku">
        <img src="{% static 'css/Zima_na_Kamziku (2).jpg' %}" alt="Zima_na_Kamziku">
        <img src="{% static 'css/Zima_na_Kamziku (3).jpg' %}" alt="Zima_na_Kamziku">
        <!-- Pokračujte pridávaním ďalších obrázkov -->
    </div>
    <div style="padding-bottom: 20px;"></div>
{% endblock %}