{% extends 'zivotopis/base.html' %}
    
{% block content %}
  <h1>Email bol úspešne odoslaný!</h1>
  <button id="backtohomeButton">Návrat na úvodnú stránku</button>
  <button id="backtoemailButton" style="color: red; margin-top: 2px;">Návrat do kontaktného formulára</button>

  <script>
    document.getElementById("backtohomeButton").addEventListener("click", function() {
      window.location.href = "{% url 'post_list' %}";
    });
    document.getElementById("backtoemailButton").addEventListener("click", function() {
      window.location.href = "{% url 'send_email' %}";
    });
  </script>
{% endblock %}