{% load static %}
<!doctype html>
<html lang="sk">
<head>
    <meta charset="utf-8">
    <title>Ružbacký životopis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'css/favicon-logo.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/zivo.css' %}">
    <script src="{% static 'js/header_zivo.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
 
<header class="site-header">
    <div class="fixed-header">
        <div class="zivo-meno">
            <p><strong>Rastislav Ružbacký</strong></p>
            <div class="zivo-pro">
                <p><strong>Cytogenetik</strong> | aCGH a karyotypizácia</p>
            </div>
            <div class="text-end" style="margin-right: 20px; margin-top: 10px;">|
                <a href="{% url 'zivo_en' %}" class="btn btn-sm"
                    style="background-color: #ffffff; color: #4b0082; border: none;">
                    EN
                </a>
            </div>
        </div>
        <div class="img-container">
            <a href="/">
                <img src="{% static 'images/ja.jpg' %}" alt="Moja foto" width="100" height="100">
            </a>
        </div>
    </div>
</header>
<body>
    <main class="container my-4">
        <!-- Informácie (Bratislava, kontakt...) -->
        <section class="container text-center my-3">
            <div class="row row-cols-1 row-cols-md-2 g-3">
                {% for icon, text in icons_data %}
                <div class="col">
                    <span class="d-inline-flex justify-content-center align-items-center">
                        <img src="{% static 'icons/' %}{{ icon }}" alt="{{ text }}" class="me-2" width="24" data-bs-toggle="tooltip"
                            title="{{ text }}">
                
                        {% if '@' in text %}
                        <a href="mailto:{{ text }}" data-bs-toggle="tooltip" data-bs-trigger="hover focus click"
                            data-bs-delay='{"show": 100, "hide": 3000}' title="Klikni pre odoslanie emailu">
                            <strong class="ms-2">{{ text }}</strong>
                        </a>
                        {% elif text|slice:":4" == '+421' %}
                        <a href="tel:{{ text }}" role="button" data-bs-toggle="tooltip" data-bs-trigger="hover focus click"
                            data-bs-delay='{"show": 100, "hide": 3000}' title="Ak nezdvihnem, píš mail 😉">
                            <strong class="ms-2">{{ text }}</strong>
                        </a>
                        {% else %}
                        <strong class="ms-2">{{ text }}</strong>
                        {% endif %}
                    </span>
                </div>
                {% endfor %}
            </div>
        </section>
        
        <!-- Sekcia O MNE -->
        <section class="my-5 bg-light p-4 rounded">
            <h2 class="text-center mb-4">
                <i class="fas fa-user-circle" style="color: #3b5998; font-size: 2em; margin-right: 10px;"></i>
                <strong>O MNE</strong>       
            </h2>
            <div class="container">
                <h3 class="text-justify">Niečo o mne 😊</h3>
                {% if bio_post %}
                {{ bio_post.text|linebreaks }}
                {% else %}
                <p><em>Obsah sa práve pripravuje.</em></p>
                {% endif %}
            </div>
        </section>
 
        <!-- Pracovné skúsenosti -->
        <section>
            <h2 class="text-center mb-4">
                <i class="fa-solid fa-user-tie" style="color: #3b5998; font-size: 2em; margin-right: 10px;"></i>
                <strong>PRACOVNÉ SKÚSENOSTI</strong>       
            </h2>
            <div class="container">
                <div class="row">
                    <!-- Aktuálna pozícia -->
                    <div class="col-md-6 col-sm-12 mb-4">
                        <h3 class="text-center">Laboratórny diagnostik so špecializáciou v cytogenetike | Nemocnica Staré Mesto (UNB)</h3>
                        <p>
                            <small>
                                <img src="{% static 'icons/house-door-fill.svg' %}" alt="Bratislava ikona" width="24">
                                Bratislava
                            </small>
                        </p>
                        <p><strong>od 03/2026</strong></p>
                        <ul class="list-unstyled">
                            <li>Cytogenetická diagnostika, aCGH a karyotypizácia</li>
                            <li>Digitalizácia a organizácia laboratórnych dát</li>
                            <li>Kontrola kvality (QC) výsledkov s využitím Python skriptov</li>
                        </ul>
                    </div>
                    <!-- Medzinárodná skúsenosť -->
                    <div class="col-md-6 col-sm-12 mb-4">
                        <h3 class="text-center">Medzinárodná skúsenosť - vyslanie v zahraničí</h3>
                        <p>
                            <small>
                                <img src="{% static 'icons/house-door-fill.svg' %}" alt="Etterbeek ikona" width="24">
                                Brusel (Belgicko)
                            </small>
                        </p>
                        <p><strong>01/01/2014 – 31/07/2025</strong></p>
                        <ul class="list-unstyled">
                            <li>Sprevádzanie manželky</li>
                            <li>Samostatné štúdium programovania (Python, Django, C#/.NET, SQL, QA)</li>
                            <li>Kurz senzorického hodnotenia piva (Beer Sensory Evaluation)</li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-12 mb-4">
                        <h3 class="text-center">Cytogenetik | Národný onkologický ústav</h3>
                        <p>
                            <small>
                                <img src="{% static 'icons/house-door-fill.svg' %}" alt="Bratislava ikona" width="24">
                                Bratislava
                            </small>
                        </p>
                        <p><strong>01/06/2006 - 31/12/2013</strong></p>
                        <ul class="list-unstyled">
                            <li>Cytogenetická diagnostika nádorových ochorení, PCR, FISH, CGH, vizuálna analýza chromozómov</li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-12 mb-4">
                        <h3 class="text-center">Cytogenetik | Nemocnica s poliklinikou</h3>
                        <p>
                            <small>
                                <img src="{% static 'icons/house-door-fill.svg' %}" alt="Spišská Nová Ves ikona" width="24">
                                Spišská Nová Ves
                            </small>           
                        </p>
                        <p><strong>01/11/2003 - 31/05/2006</strong></p>
                        <ul class="list-unstyled">
                            <li>Cytogenetické vyšetrenia, karyotypovanie</li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-12 mb-4">
                        <h3 class="text-center">Civilná vojenská služba ako biológ-genetik | Nemocnica s poliklinikou</h3>
                        <p>
                            <small>
                                <img src="{% static 'icons/house-door-fill.svg' %}" alt="Spišská Nová Ves ikona" width="24">
                                Spišská Nová Ves
                            </small>                    
                        </p>
                        <p><strong>15/02/2002 - 31/03/2003</strong></p>
                        <ul class="list-unstyled">
                            <li>Biológ na Oddelení klinickej genetiky v cytogenetickom laboratóriu.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <br>
        <section>
            <p>
                <i class="fa-solid fa-user-graduate" style="color: #3b5998; font-size: 2em;"></i>
                <strong>VZDELANIE</strong> 
            </p>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <p>06/09/1995-31/05/2000</p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <p>Mgr.| Biológia / Antropológia</p>
                        <p>
                            <small>
                                <img src="{% static 'icons/house-door-fill.svg' %}" alt="Univerzita Pavla Jozefa Šafárika ikona" width="24">
                                Univerzita Pavla Jozefa Šafárika v Košiciach
                            </small>                    
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <p>01/10/2000 - 14/02/2002 a 01/04/2003 - 31/10/2003</p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <p>RNDr.| Interná forma postgraduálneho štúdia antropológie| Rigorózna práca z biológie: Detekcia STR lókusov v rómskej populácií východného Slovenska a PCR metóda.</p>
                        <p>
                            <small>
                                <img src="{% static 'icons/house-door-fill.svg' %}" alt="Prešovská Univerzita ikona" width="24">
                                Prešovská Univerzita Fakulta humanitných a prírodných vied
                            </small>                    
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <br>    
        <section>
            <p>
                <i class="fa-solid fa-book-open" style="color: rgb(129, 156, 8); font-size: 2em;"></i>
                <strong> KURZY A ŠKOLENIA</strong> 
            </p>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 box">
                    <p>01/11/2003- 29/04/2004</p>
                    </div>
                    <div class="col-md-6 col-sm-12 box">
                        <p>Certifikát pre prácu v zdravotníctve pre zdravotníckych pracovníkov v lekárskej genetike</p>
                        <p>
                            <small>
                                <img src="{% static 'icons/house-door-fill.svg' %}" alt="Slovenská zdravotnícka univerzita ikona" width="24">
                                Slovenská zdravotnícka univerzita v Bratislave
                            </small>                    
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-12 box">
                    <p>20/10/2004</p>
                    </div>
                    <div class="col-md-6 col-sm-12 box">
                        <p>Zaradenie do špecializačného štúdia v odbore vyšetrovacie metódy v lekárskej genetike</p>
                        <p>
                            <small>
                                <img src="{% static 'icons/house-door-fill.svg' %}" alt="Slovenská zdravotnícka univerzita ikona" width="24">
                                Slovenská zdravotnícka univerzita v Bratislave
                            </small>                    
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-12 box">
                    <p>28/02/2005</p>
                    </div>
                    <div class="col-md-6 col-sm-12 box">
                        <p>Registrácia v komore iných zdravotníckych pracovníkov</p>
                        <p>
                            <small>
                                <img src="{% static 'icons/house-door-fill.svg' %}" alt="Slovenská zdravotnícka univerzita ikona" width="24">
                                Slovenská zdravotnícka univerzita v Bratislave
                            </small>                    
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-12 box">
                    <p>14/06/2007</p>
                    </div>
                    <div class="col-md-6 col-sm-12 box">
                        <p>Diplom v špecializácii v odbore laboratórne a diagnostické metódy v klinickej genetike</p>
                        <p>
                            <small>
                                <img src="{% static 'icons/house-door-fill.svg' %}" alt="Slovenská zdravotnícka univerzita ikona" width="24">
                                Slovenská zdravotnícka univerzita v Bratislave
                            </small>                    
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-12 box">
                        <p>08-09/2017</p>
                    </div>
                    <div class="col-md-6 col-sm-12 box">
                        <p>Kurz pivovarníctva (kurz Univerzity v Leuvene pre profesionálov o technológiách v pivovarníctve a sladovníctve)</p>
                        <p>
                            <small>
                                <img src="{% static 'icons/house-door-fill.svg' %}" alt="Univerzita v Leuvene ikona" width="24">
                                Univerzita v Leuvene
                            </small>                    
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-12 box">
                        <p>2024</p>
                    </div>
                    <div class="col-md-6 col-sm-12 box">
                        <p>Certifikát o absolvovaní základov jazyka Python</p>
                        <p>
                            <small>
                                <img src="{% static 'icons/house-door-fill.svg' %}" alt="IT Network ikona" width="24">
                                <a href="https://www.itnetwork.cz/" target="_blank">www.itnetwork.cz</a>
                            </small>                    
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-12 box">
                        <p>2024 – 2025</p>
                    </div>
                    <div class="col-md-6 col-sm-12 box">
                        <p>Vytvorenie a nasadenie dvoch webových aplikácií (Django/PythonAnywhere a .NET Core) — návrh, implementácia backend logiky a deploy do produkcie.</p>
                        <p>
                            <small>
                                <img src="{% static 'icons/house-door-fill.svg' %}" alt="Ikona stránky" width="24">
                                <a href="https://rastislavruzbacky.eu.pythonanywhere.com" target="_blank">rastislavruzbacky.eu.pythonanywhere.com</a>
                                ·
                                <a href="https://zivotopis-rastislav.onrender.com" target="_blank">zivotopis-rastislav.onrender.com</a>
                            </small>                    
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-12 box">
                        <p>nov – dec 2025</p>
                    </div>
                    <div class="col-md-6 col-sm-12 box">
                        <p>Testovanie softvéru — 3 certifikáty (JUNIOR I ×2, SENIOR II), IT Learning Slovakia. QA základy, tvorba testovacích scenárov, manuálne aj automatizované testovanie (Selenium, SOAPUI), bug reporting cez Mantis, SQL SELECT.</p>
                    </div>
                </div>
            </div>
        </section>
        <br>
        <section>  
            <p>
                <i class="fas fa-comments" style="color: rgb(34, 172, 193); font-size: 2em;"></i>
                <strong> JAZYKOVÉ ZNALOSTI</strong> 
            </p>
            <div class="container">
                <div class="box-jaz">
                    <p>Anglický jazyk</p>
                    <div class="small-square"></div>
                    <div class="small-square"></div>
                    <div class="small-square"></div>
                    <div class="small-square"></div>
                    <div class="small-square"></div>
                </div>
                <div class="box-jaz">
                    <p>Nemecký jazyk</p>
                    <div class="small-square"></div>
                    <div class="small-square"></div>
                    <div class="small-square"></div>
                </div>
                <div class="box-jaz">
                    <p>Francúzky jazyk</p>
                    <div class="small-square"></div>
                    <div class="small-square"></div>
                    <div class="small-square"></div>
                </div>
            </div>
        </section>
        <br>
        <section>
            <p>
                <i class="fa-solid fa-palette" style="color: #3b5998; font-size: 2em;"></i>
                <strong> ZÁUJMY A ZÁĽUBY</strong>
            </p>
            <div class="container">
                <div class="black-box">
                    <p>Cestovanie</p>
                </div>
                <div class="black-box">
                    <p>Programovanie</p>
                </div>
                <div class="black-box">
                    <p>Varenie piva</p>
                </div>
                <div class="black-box">
                    <p>Turistika</p>
                </div>
                <div class="black-box">
                    <p>Astronómia</p>
                </div>
                <div class="black-box">
                    <p>Cyklistika</p>
                </div>
            </div>
        </section>
        <div class="button-container">
            <a class="btn btn-primary" href="/" data-toggle="tooltip" data-placement="right" title="Domov">Domov</a>
        </div>
    </main>
 
    
</body>
<footer>
    <div class="container text-center py-3">
        <div class="row">
            <div class="col-12">
                <a href="/">&copy; <span id="year"></span> Rastislav Ružbacký</a>
            </div>
            <div class="col-12">
                <a href="mailto:ruzbacky@yahoo.com">ruzbacky@yahoo.com</a>
                <span class="mx-2">|</span>
                <a href="tel:+421948900850">+421 948 900 850</a>
            </div>
            <div class="col-12">
                <a class="social-link" href="https://www.facebook.com/profile.php?id=100009882270245" target="_blank">
                    <img src="{% static 'css/facebook.png' %}" alt="Facebook" width="24" height="24">
                </a>
                <a class="social-link mx-2" href="https://www.instagram.com/rastorubin/" target="_blank">
                    <img src="{% static 'css/instagram_icon.png' %}" alt="Instagram" width="24" height="24">
                </a>
                <a class="social-link" href="https://www.linkedin.com/in/rastislav-ruzbacky-99a8a645/" target="_blank">
                    <img src="{% static 'css/linkedin.png' %}" alt="LinkedIn" width="24" height="24">
                </a>
                <a href="https://www.linkedin.com/in/rastislav-ruzbacky-99a8a645/" class="btn btn-primary" target="_blank">
                    Spojiť sa na LinkedIn
                </a>
            </div>
        </div>
    </div>
</footer>
</html>