* {
    /*border: 1px solid black;*/
    box-sizing: border-box;
}



body {
    margin: 0;
    color: rgb(23, 11, 148);
    background: linear-gradient(180deg, rgb(169 159 78)0%, rgb(44 93 109)100%);
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}