{% extends "ceny/base.html" %}
{% load crispy_forms_tags %}
{% load farbic %}
{% block content %}
<!-- Modal -->
    <div class="modal fade" id="addItemModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Pridaj nový byt na sledovanie jeho ceny !</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="POST" autocomplete="off">
                        {% csrf_token %}
                        {{form|crispy}}
                        <button type="submit" class="btn btn-primary">Uložiť</button>
                    </form>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addItemModal">Pridaj</button>
            <a href="{% url 'update' %}">
                <button class="btn btn-info">Refresh</button>
            </a>
        </div>
        <div class="col" style="text-align:right">
            <div>Celkový počet bytov ktorých cenu sledujeme: {{items_no}}</div>
            <div>Zlacnené byty: {{no_discounted}}</div>
        </div>
    </div>
    {% if quse %}
        {% for item in quse %}
        <div class="card mt-3">
            <div class="card-header">
                <h5>{{item.name}}</h5>
                <a href="{% url 'delete' item.pk %}"><button class="btn btn-danger">Zmazať?</button></a>
            </div>
            <div class="card-body">
                <div class="blockquote">
                    <div>Momentálna cena: {{item.now_price|farbic}} eur</div>
                    <div>Cena pred tým: {{item.old_price}} eur</div>
                    <div>Cenový rozdiel: {{item.differ_price|farbic}} eur</div>
                    <div>link: <a href="{{item.url}}">{{item.url}}</a></div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <h3>Žiadne sledované byty!</h3>
    {% endif %}
{% endblock content%}